{% extends 'authenticated/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/media/max-800px.css') }}">
    {{ parent() }}
{% endblock %}

{% block body %}


    <div class="page connected">
        <div class="main-block">
            <div class="login-block">
                <h1>Paramètres</h1>

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for error in errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}

                {{ form(form) }}
            </div>
        </div>
    </div>

{% endblock %}