{% extends 'authenticated/base.html.twig' %}

{% block body %}

    {% if fatal_error is defined %}
        <div class="container-fluid p-4">
            <div class="alert alert-danger">
                {{ fatal_error }}
            </div>
        </div>
    {% else %}
        <div class="container-fluid p-4">
            <div class="row mb-3">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {% for error in errors %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                    {% endfor %}

                    <h1 class="mb-3 edit-h1">Suppression : {{ account.title }}</h1>
                    <p>En êtes-vous sûr ?</p>
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            {{ form_widget(form.save, { 'attr': { 'class': 'w-100 btn red-btn' } }) }}
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    {% endif %}

{% endblock %}