<div class="col-lg-2"></div>
<div class="col-lg-8">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ account.title }} <span class="float-right">{{ account.amount }}€</span></h5>
            <p class="card-text">{{ account.description }}</p>
            <input type="number" id="amount" class="sum" value="0" min="0" max="{{ account.amount }}">
            <input type="hidden" id="toDebitAccount" value="{{ account.id }}">
        </div>
    </div>
</div>
<div class="col-lg-2"></div>


<div class="col-lg-2"></div>
<div class="col-lg-8 add-form">
    <p class="text-success">+ A créditer</p>
    <select class="select" id="toCredit">
        <option>Choix du compte</option>
        {% for other_account in other_accounts %}
            <option value="{{ other_account.id }}" class="toCreditChoice">{{ other_account.title }}</option>
        {% endfor %}
    </select>
</div>
<div class="col-lg-2"></div>
