{% extends 'authenticated/base.html.twig' %}

{% block body %}

    <div class="container-fluid p-4">
        <div class="row mb-3">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for error in errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}

                <h1 class="mb-3 edit-h1">Edition du compte</h1>
                <div class="add-form">
                    {{ form_start(form) }}
                    <span class="title">Nom du compte :</span><br>
                    {{ form_row(form.title) }}
                    <span class="title">Description :</span><br>
                    {{ form_row(form.description) }}
                    <span class="title">Somme :</span><br>
                    {{ form_row(form.amount) }}
                    <span class="title">Couleur :</span><br>
                    {{ form_row(form.color) }}
                    <div class="mt-3">
                        {{ form_row(form.save) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>

{% endblock %}